@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Public+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@500&display=swap");

.link--tag {
	text-decoration: none;
	color: white;
}

.link--tag:hover {
	color: white;
}

pre code {
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 20px;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
}

#root {
}

.image--rounded {
	border-radius: 8px;
}

.image--fit {
	object-fit: cover;
}

.image--full {
	object-fit: contain;
}

.min-h-screen {
	min-height: 100vh;
}
